{% extends "base.html" %}

{% block page_content %}

    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="width">
        <!-- Navbar content -->
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-light">Buscar</button>
            </form>
        </div>
    </nav>   
    <h1> Lionel Andrés Messi Cuccittini</h1>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="https://images.pagina12.com.ar/styles/focal_3_2_960x640/public/2023-01/692933-leo-20messi-20copa-20del-20mundo.jpeg?h=fcdc4171&itok=M1-X_CUN" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Leo Messi

        </div>
    <br>

    <div class="card" style="width: 18rem;">
        <img src="https://fotografias.antena3.com/clipping/cmsimages01/2023/07/26/7D914472-33A7-49E7-8638-3EE2E671D4B8/leo-messi-sonriente-segundo-partido-inter-miami_104.jpg?crop=1407,1407,x173,y0&width=1200&height=1200&optimize=low&format=webply" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Leo Messi</p>
        </div>
    </div>

  





    



{% endblock %}